html {
    box-sizing: border-box;
}
*, *::after, ::before {
    box-sizing: inherit;
}
body {
    height: 100vh;
    margin: 0;
    font-family: "Roboto", serif;;
    display: grid;   
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 25% 75%;
    grid-template-areas: 
    "sidenav header"
    "sidenav main";
}
h1 {
    font-size: 1.5rem;    
    color: #FFFFFF;
}
h2 {
    font-size: 1.2rem;
}
h1, h2, p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #FFFFFF;
}
/* HEADER */
.header {
    padding: 15px 25px;    
    grid-area: header;
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "search alert"
        "user btns";    
}
.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    grid-area: search;
    
}
.search img, .alert .bell {
    width: 25px;
}
.search input {
    outline: none;
    background-color: #e2e8f0;
    border: 1px solid #e2e8f0;
    border-radius: calc(30px/2);
    width: 90%;
    height: 30px;
}
.alert {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    grid-area: alert;
    
}
.alert .avatar {
    width: 40px;
}
.user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    grid-area: user;
}
.user img {
    width: 50px;
}
.btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    grid-area: btns;
}
.btn {
    width: 100px;
    background-color: #1992d4;
    border: 1px solid #1992d4;
    border-radius: calc(37px/2);
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 15px;
}
.btn:hover {
    cursor: pointer;
    font-weight: 400;
}
/* SIDEBAR */
.sidenav {
    padding: 15px;
    background-color: #1992d4;
    grid-area: sidenav;
}
.sidenav__title {
    margin-bottom: 25px;
}

.sidenav__title, .link {
    display: grid;
    grid-template-columns: 1fr 4fr;  
    gap: 15px;  
    align-items: center;
}
.sidenav__title img {
    width: 50px;
}
.link img {
    padding: 12px;
    width: 50px;
}
.sidenav__links .link:nth-child(5) {
    margin-bottom: 25px;
}
.main {
    background-color: #e2e8f0;
    grid-area: main;
}
/* Main */


